*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    /* overflow: hidden; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Nav bar */
nav{
    height: 12vh;
    /* background-color: rgb(133, 173, 53); */
    position: fixed;
    background-color: #111111; 
    color: white;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 2vw 10.5vw;
    justify-content: space-between;
    z-index: 10;
}
nav .nav-option {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 2vw;
    padding: 1vh 0;
    position: relative;
    z-index: 10;

}
nav .nav-option h4{
    font-size: .7vw;
    font-weight: 600;
    margin-bottom: 2vw;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
.nav-elem h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}
.nav-elem h5 span{
font-size: 0.68vw;
font-weight: 400;
display: inline-block;
/* margin-bottom: 1vw; */
}
nav .nav-option h4:hover{
    /* font-weight: bolder; */
    color: rgb(168, 166, 166);
    cursor: pointer;
}
nav .nav-elem h5:hover{
    /* font-weight: bolder; */
    color: rgb(168, 166, 166);
    cursor: pointer;
}
nav .nav-btn button{
    color: white;
    background: #0DA34E;
    font-size: 1.2vw;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 50px    
}
.nav-btn button svg{
    height: 1vw;
    margin-left: 7px;
}
.nav-btn:hover button{
    background-color: #0b8b42;
}
.bottom-nav{
    height: 0;
    width: 80%;
    position: absolute;
    top: 100%;
    background-color:#111111;
    z-index: 9;
    border-bottom: 1px solid whitesmoke;
    opacity: .95;
}


/* nav:hover .bottom-nav{
    height: 150%;
    bottom: -150%;
    background-color: #111111;
    opacity: .8;
}
.bottom-nav{
    height: 00%;
    width: 80%;   
    position: absolute;
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    transition:all 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 15vw;
    padding-left: 20vw;
    gap: 2.5vw;    
}
.bottom-nav-text h4{
    margin-bottom: 0.4vw;
}
.bottom-nav-text h4 span{
    font-size: .68vw;
    display: inline-block;
    font-weight: 200;    
    opacity: 0;
} */

/* Page-1 */
.page1{
    height: 100vh;
    width: 100%;
    background-color: #111111; 
    color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.page1 h1{
    font-size: 7.5vw;    
    text-transform: uppercase;
    /* font-size: 35px; */
    font-weight: 900;
   
    line-height: 16vh;
}
.page1 h1 span{
    width: 5vw;
    height: 5vw;    
    /* background-color: #0DA34E; */
    /* border-radius: 50%; */
}
.page1 h1 svg{
    /* width: 7vw; */
    /* height: 7vw; */
    /* padding: 8px; */
    /* margin-bottom: 4px; */
    width: inherit;
    height: inherit;
    background-color: #0DA34E;
    border-radius: 50%;
}
.page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3.5vh;
}
.page1-text{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* column-gap: 4px; */
}
.page1 h4{
    font-size: 1vw;
    font-weight: 300;
    border: 1px solid #efeded;
    margin-top: 2px;
    border-radius: 50px;
    /* text-align: center; */
    padding: 5px 10px;
    text-transform: lowercase;
}
.page1-text h4:nth-last-child(2){
    border: none;
    padding: 5px;
}
.moving-div{
    margin-top: 10vh;
    position: absolute;
    white-space: nowrap;
    padding: 1.4vw;
    overflow: hidden;
    bottom:5%;
    width: 43%;
    /* display: flex; */
    /* z-index: 9; */
}
.move{
    display: inline-block;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: move 6s linear infinite; */
}
.moving-div .move img{
    height: 1vw;
    margin: 0 1vw;
}
@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right , #111 ,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right , transparent , #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

/* Page-2 */
.page2{
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    position: relative;
    padding: 2vw 10.5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
}
.page2-left-content{
    /* background-color: rgb(92, 95, 95); */
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: space-around;
    font-size: 1vw;
    font-weight: 200;
    color: rgb(168, 167, 167);
}
.page2-right-content{
    /* background-color: rgb(106, 107, 107); */
    height: 100%;
    width: 55%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.page2-right-content:hover{
    cursor:default;
}
.page2-right-text{
    /* background-color: #fff; */
    color: white;
    border-bottom: 1px solid #333;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.page2-right-text img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    scale: 0;
}
.page2-right-text .div {
    /* background-color: #0b8b42; */
    width: 5vw;
    display: flex;
    justify-content: space-between;
    
}
.page2-right-text .div svg{
    width: 8px;
    height: 8px;
}
.page2-right-text .div h6{
    font-size: .6vw;
    color: gray;
}
.page2-right-text h4{
    font-size: 1.2vw;
    font-weight: 200;
}

/* Page-3 */
.page3{
    height: 100vh;
    width: 100vw;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3 .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.video-btn{
    width: 10vw;
    height: 10vw;
    position: relative;
    background-color: rgb(250, 251, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.video-btn:hover{
    cursor: pointer;
}
.page3 video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    border-radius: 30px;
    transform: scale(0.7 , 0);
    opacity: 0;
    z-index: 999;
}
.page3 .video-btn i{
    font-size: 2.5vw;
    font-weight: 600;
}
.page3 .center h5{
    background-color: white;
    font-size:1vw;
    font-weight: 500;
    text-transform: uppercase;
    border-radius:40px;
    padding: 12px 20px;
    /* transform: translate(); */
    opacity: 0;
    transition: all 1s ease-in-out ;
}
.page3 .center:hover h5{
    opacity: 1;
    transform: translateY(-5px);
}

/* page4-1 */
.page4-1{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    /* column-gap: 10vw; */
    /* padding: 10vh 5vw; */

}
.page4-1 .left-div{
    width: 40vw;
    padding-top: 15.5vh;
    /* padding-left: ; */
    display: flex;
    justify-content: center;
}
.page4-1 .left-div h2{
    /* width: 20vw; */
    /* margin-top: 7.8vh; */
    font-size: 3.2vw;
    font-weight: 700;
}
.page4-1 .right-div{
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh 0;
}
.page4-1 .right-div div {
    width: 100%;
}
.page4-1 .right-div div p{
    color: rgb(199, 196, 196);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: .9vw;
    font-weight: 700;
}
.page4-1 .right-div div h4{
    /* text- */
    font-size: 1.7vw;
    font-weight: 100;
}
.page4-2{
    /* background-color: #0DA34E; */
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    /* justify-content: ; */
    /* align-items: flex-start; */
    padding: 30px 90px;
    column-gap: 1vw;
    row-gap: 1vw;
}
.cards{
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 28vw;
    height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.page4-2 .cards .div{
    display: flex;
    justify-content: space-between;
}
.div p{
    font-size: 1vw;
    font-weight: 300;
    color: gray;
}
.page5{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}



